@font-face {
  font-family: "iconfont"; /* Project id 5239322 */
  src: url('iconfont.woff2?t=1790749331812') format('woff2'),
       url('iconfont.woff?t=1790749331812') format('woff'),
       url('iconfont.ttf?t=1790749331812') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-juejin:before {
  content: "\e653";
}

.icon-qq:before {
  content: "\e601";
}

.icon-javascript:before {
  content: "\e6f7";
}

.icon-mianshiyaoqing:before {
  content: "\e7be";
}

.icon-nodejs:before {
  content: "\e6cc";
}

.icon-webpack:before {
  content: "\e79a";
}

.icon-Vue:before {
  content: "\e79b";
}

.icon-agent:before {
  content: "\e655";
}

.icon-houduankaifa:before {
  content: "\e62a";
}

.icon-Typescript:before {
  content: "\e6e5";
}

.icon-ai-agent:before {
  content: "\e600";
}

.icon-icon-suibi:before {
  content: "\e69e";
}

.icon-React:before {
  content: "\e799";
}

.icon-filter-records:before {
  content: "\e839";
}

.icon-bianji:before {
  content: "\e65d";
}

.icon-diannaoyulan:before {
  content: "\e65e";
}

.icon-daima:before {
  content: "\e65f";
}

.icon-hei:before {
  content: "\e660";
}

.icon-fuzhi:before {
  content: "\e661";
}

